@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'imports/variables.scss';
@import 'imports/mixins.scss';


*, :before, :after{
    margin: 0;
    padding: 0;
    font-family: $font1;
    box-sizing: border-box;
}

body{
    color: $primary-color1;
}

button, input, textarea{
    outline: none;
}

a{
    color: $link;
    text-decoration: none;
}

// BODY

.container{
    gap: 2rem;
    @include flexcol;
    padding: 7rem 10rem;

    .container_title{
        font-weight: 600;
    }

    form{
        gap: 2rem;
        @include flexcol;

        .field{
            gap: .5rem;
            @include flexcol;
        
            .label{
                font-weight: bold;
            }

            .input{
                width: 75%;
                padding: .5rem;
                border-radius: 5px;
                border: 1px solid $primary-color1;
            }

            .textarea{
                width: 75%;
                border-radius: 5px;
                padding: 1rem .5rem;
                border: 1px solid $primary-color1;
            }
        }

        .button_container{

            .button{
                border: none;
                color: $white;
                cursor: pointer;
                border-radius: 5px;
                padding: .5rem 1rem;
                background-color: #1f73e0;
            }
        }
    }
}